@define-color text            @on_surface;
@define-color background-alt  alpha(@color1, .4);
@define-color selected        @outline;
@define-color hover           alpha(@selected, 1);
@define-color urgent          @error;

* {
  color:            @text;

  all: unset;
  font-size: 13px;
  font-family: "JetBrains Mono Nerd Font";
  transition: 100ms;
}

/* Avoid 'annoying' background */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0px;
  border: 1px solid @selected;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  margin: 6px;
  padding: 8px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @on_secondary_fixed;
  border: 1px solid @hover;
  border-radius: 0px;
  margin: 3px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 4px;
  padding: 4px 4px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 2.8em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 0px;
  margin: 4px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 0px;
  color: @text;
  margin: 0px;
  padding: 3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 0px;
}

progressbar {
  background-color: rgba(255, 255, 255, .1);
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 6px;
}

.notification-group-headers {
  font-weight: bold;
  font-size: 1.1rem;
  color: @text;
  letter-spacing: 1px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 2px; 
  border-radius: 0px;
  padding: 3px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

/* Notification clear button */
.widget-title {
  font-size: 1.1em;
  margin: 4px;
}

.widget-title button {
  background: alpha(@hover, .50);
  border-radius: 0px;
  padding: 3px 12px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @selected;
}

/* Do not disturb */
.widget-dnd {
  margin: 4px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  background: alpha(@hover, .50);
  font-size: initial;
  border-radius: 0px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
}

.widget-dnd > switch:checked {
  background: @selected;
}

.widget-dnd > switch:checked:hover {
  background: @hover;
}

.widget-dnd > switch slider {
  background: @text;
  border-radius: 0px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: large;
  padding: 4px 2px;
  margin: 4px;
  border-radius: 0px;
  background: alpha(@hover, .50);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 2px 6px;
  padding: 4px 8px;
  background: transparent;
  border-radius: 0px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @hover;
}

/* Music player */
.widget-mpris {
  background: alpha(@hover, .50);
  border-radius: 0px;
  color: @text;
  margin: 10px 4px;
}

/* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px;
  padding: 4px 10px;
  margin: 4px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 0px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  border-radius: 0px;
  margin: 4px 0 0 2px;
}
 
.widget-mpris-title {
  font-weight: 700;
  font-size: 0.95rem;
}
 
.widget-mpris-subtitle {
  font-weight: 500;
  font-size: 0.75rem;
}

/* Volume */
.widget-volume {
  background: @background-sec;
  color: @background;
  padding: 3px;
  margin: 4px;
  border-radius: 0px;
}
