* {
    background-image: none;
    font-size: 18px;
    font-family: "JetBrainsMono Nerd Font";
}

@import '../../.config/waybar/colors.css';

window {
    background-color: rgba(10, 10, 10, 0.85);
}

button {
    border-radius: 0px;
    margin: 6px;
    color: @inverse_surface;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid alpha(@outline_variant, 0.5);
    outline: none;
    box-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24%;
    text-shadow: none;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

button:hover, button:focus {
    background-color: @on_secondary_fixed_variant;
    border: 1px solid @primary;
    border-radius: 0px;
    background-size: 28%;
    transition: background-color 0.1s ease, border-color 0.1s ease;
}

button:focus {
    outline: none;
    box-shadow: none;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.1em;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
